<template>
  <div>
    <Button label="Secondary" class="p-button-secondary" />
    
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Button from 'primevue/button'; //First Import component

Vue.component('Button', Button); //Second Register the component
@Component
export default class FilterReports extends Vue {
  //@Prop() private msg!: string;

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
