<template>
  <div>
      <TabMenu :model="items" />
      <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TabMenu from 'primevue/tabmenu'; //First Import component

Vue.component('TabMenu', TabMenu); //Second Register the component
@Component
export default class NavBar extends Vue {
  //@Prop() private msg!: string;
    private items = [
                {label: 'Home', icon: 'pi pi-fw pi-home', to: '/'},
                {label: 'Calendar', icon: 'pi pi-fw pi-calendar', to: '/about'},
                // {label: 'Edit', icon: 'pi pi-fw pi-pencil', to: '/tabmenu/edit'},
                // {label: 'Documentation', icon: 'pi pi-fw pi-file', to: '/tabmenu/documentation'},
                // {label: 'Settings', icon: 'pi pi-fw pi-cog', to: '/tabmenu/settings'}
            ]
}
</script>

<style>

</style>