<template>
  <div>
    <NavBar/>
  </div>
</template>

<script>
// @ is an alias to /src
//import FilterReports from '@/components/FilterReports.vue'
import NavBar from '@/components/NavBar.vue'
export default {
  name: 'Home',
  components: {
    //FilterReports,
    NavBar
  }
}
</script>
